<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\StoreGraphQl\Model\Resolver\Store\StoreConfigDataProvider">
		<arguments>
			<argument name="extendedConfigData" xsi:type="array">
				<item name="whatsapp_chat_general_enable" xsi:type="string">whatsapp_chat/general/enable</item>
				<item name="whatsapp_chat_general_effect" xsi:type="string">whatsapp_chat/general/effect</item>
				<item name="whatsapp_chat_general_if_single" xsi:type="string">whatsapp_chat/general/if_single</item>
			</argument>
		</arguments>
	</type>
</config>
